@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* nav */

.orange-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(../images/buttons/orange-btn.svg);
  filter: drop-shadow(0 6px 16px rgba(232, 74, 17, 0.35));
}

.search-input-wrapper::before {
  position: absolute;
  content: "";
  background-image: url(../images/icons/search.svg);
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.search_input::placeholder {
  font-family: "Rubik", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.nav__user-info::before {
  position: absolute;
  content: "";
  left: -12px;
  top: -1px;
  width: 12px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icons/nav-info-decor-left.svg);
}

.nav__user-info::after {
  position: absolute;
  content: "";
  right: -12px;
  top: -1px;
  width: 12px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icons/nav-info-decor-right.svg);
}

.nav__level::before {
  position: absolute;
  content: "";
  left: 63px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/star.svg);
}

/* mobile menu */
.mobile__logo-wrapper::before {
  position: absolute;
  content: "";
  left: -1px;
  top: -1px;
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/mob-logo-left-top-corner.svg);
}

.mobile__logo-wrapper::after {
  position: absolute;
  content: "";
  right: -1px;
  top: -1px;
  width: 21px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/mob-logo-right-top-corner.svg);
}

.mobile__logo-link::before{
  position: absolute;
  content: "";
  left: -1px;
  bottom: -1px;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/mob-logo-left-bottom-corner.svg);
}

.mobile__logo-link::after{
  position: absolute;
  content: "";
  right: -1px;
  bottom: -1px;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/mob-logo-right-bottom-corner.svg);
}

.mobile__menu {
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 30;
}

.mobile__menu::before {
  content: "";
  position: absolute;
  top: -19px;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  background-image: url(../images/icons/mobile-menu-top-decor.svg);
}

.mobile__menu::after {
  content: "";
  position: absolute;
  top: -22px;
  left: -25%;
  right: 0;
  height: 29px;
  z-index: 31;
}

.mobile__dep {
  position: absolute;
  top: -64%;
  left: -17%;
  right: -17%;
  z-index: 32;
  padding: 7px 24px 23px 21px;
  text-align: center;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  background-image: url(../images/icons/mobile-balance-bcg.svg);
}

.mobile__menu-avatar {
  left: 12.5%;
  transform: translateX(-47%);
  border-radius: 50%;
  background: radial-gradient(rgba(229, 57, 54, 1) -28%, rgba(229, 57, 54, 0) 72%);
}

.mobile__menu-coin {
  background: radial-gradient(rgba(229, 57, 54, 1) 18%, rgba(229, 57, 54, 0) 72%);
}

/* aside */

.aside::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 27px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/accent-top-left-corner.svg);
}

.aside::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 23px;
  height: 24px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/accent-top-right-corner.svg);
}

.aside__nav::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 32px;
  height: 20px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/accent-bottom-left-corner.svg);
}

.aside__nav::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 20px;
  height: 18px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/accent-bottom-right-corner.svg);
}

.aside__link--active {
  @apply bg-bg-primary;
}

/* terms */

.terms__item::before {
  position: absolute;
  content: "";
  left: 6px;
  top: 6px;
  width: 24px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/top-left-gray-corner.svg);
}

.terms__item::after {
  position: absolute;
  content: "";
  right: 6px;
  bottom: 6px;
  width: 30px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/bottom-right-gray-corner.svg);
}

.terms__item--active {
  background-color: #5c5380;
  outline: 3px solid #f48f6b;
  outline-offset: -3px;
  filter: drop-shadow(0 3px 0 rgba(232, 74, 17, 0.5));
  box-shadow: 0 4px 8px 0 rgba(232, 74, 17, 0.5);
  margin-bottom: 4px;
}

.terms__item--active::before {
  position: absolute;
  content: "";
  left: 2px;
  bottom: 2px;
  width: 22px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/bottom-left-active-corner.svg);
}

.terms__item--active::after {
  position: absolute;
  content: "";
  right: 2px;
  bottom: 2px;
  width: 30px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/bottom-right-active-corner.svg);
}

.terms__item--active .accordeon__title::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 24px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/top-left-active-corner.svg);
}

.terms__item--active .accordeon__title::after {
  position: absolute;
  content: "";
  right: 2px;
  top: 2px;
  width: 30px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/top-right-active-corner.svg);
}

/* install */

.app-list::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icons/app-arrow.svg);
}

.install::before {
  position: absolute;
  content: "";
  top: -39px;
  left: 0;
  right: 0;
  height: 39px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/content/install-top.svg);
}

@media (min-width: 768px) {
  .install::before {
    height: 115px;
    top: -115px;
  }
}

.install::after {
  position: absolute;
  content: "";
  bottom: -39px;
  left: 0;
  right: 0;
  height: 39px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/content/install-bottom.svg);
}

@media (min-width: 768px) {
  .install::after {
    height: 115px;
    bottom: -115px;
  }
}

.install__content {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
  background-image: url(../images/content/install-pattern.svg);
}

@media (min-width: 768px) {
  .install__content {
    background-position: center;
    background-size: auto;
  }
}

.install__apps::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  right: 0;
  height: 12px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  background-image: url(../images/content/install-apps-bottom-secor.svg);
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}

.lang-btn {
  background-image: url(../images/buttons/lang-btn--mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media (min-width: 768px) {
  .lang-btn {
    background-image: url(../images/buttons/lang-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}

/* arm */

.arm {
  background: url(../images/content/arm-bg.svg),
    linear-gradient(180deg, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: normal;
}

@media (min-width: 768px) {
  .arm {
    background: url(../images/content/arm-bg.svg),
      linear-gradient(180deg, rgba(0, 0, 0, 1) -32%, rgba(0, 0, 0, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: normal;
  }
}

.arm__img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) -18%, rgba(0, 0, 0, 0) 100%);
}

/* about */

.about.expanded {
  max-height: none;
}

.about::after {
  position: absolute;
  content: "";
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
  transition: opacity 0.3s ease-in-out;
}

.about.no-gradient::after {
  opacity: 0;
}
